<div class="container mt-5 ">
    <div class="card">
    <h1>Login Form</h1>
    <form action="">
        <div class="mb-3 mt-3">
            <label for="" class="">Username</label>
            <input type="text" class="form-control" placeholder="enter your username">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="">Password</label>
            <input type="password" class="form-control" placeholder="enter your password">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-outline-primary" routerLink="/dashboard">Login</button>
        </div>
        <hr>
        <div class="row">
           <div class="col"> <a routerLink="/reg">Please Register Here</a></div>
           <div class="col"> <a routerLink="">Forgot Password</a></div>
        </div>
    </form>
</div>
</div>
