<div class="container mt-5 ">
    <form action="">
        <!-- <img src="../../../assets/images/(4).jpg" alt=""> -->
        <div class="mb-3 mt-3">
            <label for="" class="">Full Name</label>
            <input type="text" class="form-control" placeholder="enter your fullname">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="">Email</label>
            <input type="text" class="form-control" placeholder="enter your email">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="">Payment</label>
            <input type="text" class="form-control" placeholder="enter your payment">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="">House No</label>
            <input type="text" class="form-control" placeholder="enter your house no">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="">Address</label>
            <input type="text" class="form-control" placeholder="enter your address">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="">Gender</label>
            <input type="text" class="form-control" placeholder="enter your gender">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="margin: 10px;">Submit</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>
